<pip-simple class="iqs-home">
	<div class="iqs-home-content">
		<!-- Carousel on the Home page -->
		<!-- <iqs-guide-carousel guide="$ctrl.guide" ng-if="$ctrl.guide" max-width="$ctrl.mansoryhWidth"></iqs-guide-carousel> -->

		<!-- Tiles filter input -->
		<div class="iqs-loader-container" ng-if="!$ctrl.isLoaded">
			<div class="loader">
				<img src="images/pre-loading.svg">
			</div>
		</div>
		<div class="iqs-tiles-search-wrapper" ng-style="{'max-width': $ctrl.mansoryhWidth + 'px'}" ng-if="$ctrl.isLoaded">
			<md-autocomplete autofocus md-input-id="TilesSearchAutocomplete" id="TilesSearchAutocomplete" class="pip-combobox w-stretch"
			                 ng-focus="$ctrl.searchFocused = true" ng-blur="$ctrl.searchFocused = false" placeholder="{{::$ctrl.searchPlaceholder | translate}}"
			                 md-items="item in []" md-search-text="$ctrl.searchText" md-search-text-change="$ctrl.filterTiles($ctrl.searchText)"
			                 md-delay="200" xxxmd-min-length="3" md-match-case-insensitive ng-class="{'inactive': !$ctrl.searchFocused}">

			</md-autocomplete>

			<md-icon class="iqs-tiles-search-icon" id="TilesSearchIcon" md-svg-icon="icons:search"></md-icon>
		</div>

		<!-- Categorized tiles -->
		<div class="iqs-tiles-group" ng-class="{xs: $ctrl.pipMedia('xs')}" ng-repeat="cat in $ctrl.filteredCategories track by cat.key"
		     ng-if="cat.tiles.length && $ctrl.isLoaded">
			<div class="iqs-tiles-group-name-wrapper" ng-if="$ctrl.pipMedia('xs')">
				<div class="iqs-tiles-group-name">{{ 'HOME_CATEGORY_' + cat.key.toUpperCase() | translate }}</div>
			</div>
			<md-list ng-if="$ctrl.pipMedia('xs')">
				<md-list-item ng-repeat="tile in cat.tiles track by $index" ng-click="$ctrl.onTileClick(tile)">
					<div class="app-icon color-primary-bg">
						<md-icon md-svg-icon="{{ tile.icon }}"></md-icon>
					</div>
					<div class="iqs-tile-content">
						<div class="iqs-tile-content-name">{{ tile.name[$ctrl.language] }}</div>
						<div class="iqs-tile-content-description" ng-if="tile.description">{{ tile.description[$ctrl.language] }}</div>
					</div>
					<div class="fav-icon" ng-click="$ctrl.toggleTileFavourite(tile); $event.stopPropagation();">
						<md-icon ng-if="tile.isFavourite" style="transform: rotateX(180deg)" md-svg-icon="webui-icons:star"></md-icon>
						<md-icon ng-if="!tile.isFavourite" style="transform: rotateX(180deg)" md-svg-icon="webui-icons:star-white"></md-icon>
					</div>
				</md-list-item>
			</md-list>
			<pip-tiles column-width="200" gutter="16" ng-if="$ctrl.pipMedia('gt-xs')">
				<pip-tiles-heading class="iqs-tiles-group-name-wrapper">
					<div class="iqs-tiles-group-name">{{ 'HOME_CATEGORY_' + cat.key.toUpperCase() | translate }}</div>
				</pip-tiles-heading>
				<div class="masonry-brick pip-tile" ng-repeat="tile in cat.tiles track by $index" ng-click="$ctrl.onTileClick(tile)">
					<div class="iqs-tile">
						<div class="iqs-tile-toolbar">
							<div class="app-icon">
								<md-icon md-svg-icon="{{ tile.icon }}" class="color-primary"></md-icon>
							</div>
							<div class="fav-icon" ng-click="$ctrl.toggleTileFavourite(tile); $event.stopPropagation();">
								<md-icon ng-if="tile.isFavourite" style="transform: rotateX(180deg)" md-svg-icon="webui-icons:star"></md-icon>
								<md-icon ng-if="!tile.isFavourite" style="transform: rotateX(180deg)" md-svg-icon="webui-icons:star-white"></md-icon>
							</div>
						</div>
						<div class="iqs-tile-content">
							<div class="iqs-tile-content-name">{{ tile.name[$ctrl.language] }}</div>
							<div class="iqs-tile-content-description" ng-if="tile.description">{{ tile.description[$ctrl.language] }}</div>
						</div>
					</div>
				</div>
			</pip-tiles>
		</div>
	</div>
</pip-simple>