.iqs-guide-carousel-content {
    margin: 0 auto;
}
.iqs-guide-carousel-content {
    -webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
    transition: all .2s;
    .iqs-guide-carousel-pagination md-icon {
        color: white;
    }
    .iqs-guide-carousel-navigation {
        padding-left: 40px;
        padding-right: 40px;
    }
    .iqs-guide-carousel-slide-title {
        font-size: 24px;
        font-weight: bold;
        color: white;
        padding-top: 16px;
        align-self: flex-start;
    }
    .iqs-guide-carousel-slide-content {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: white;
        padding-top: 16px;
        align-self: flex-start;
    }
    .iqs-guide-carousel-slide-href {
        padding-top: 16px;
        align-self: flex-end;
        a {
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #0b599a;
        }
    }
    .iqs-guide-carousel-slide-image {
        max-width: 50%;
    }
}

.iqs-guide-carousel-content.gt-xs {
    .iqs-guide-carousel-slide-content-wrapper {
        padding-left: 64px;
        padding-right: 64px;
    }
    .iqs-guide-carousel-slide-image {
        max-width: 100%;
        flex: 0 1 30%;
    }
    .iqs-guide-carousel-navigation {
        .pip-radio-button {
            color: white;
        }
    }
}
