<div class="iqs-guide-carousel-content-wrapper"
      ng-if="!$ctrl.$routing && $ctrl.guide"
      ng-style="{'background-color': $ctrl.guide.pages[$ctrl.page].color}">
    <div class="iqs-guide-carousel-content w-stretch flex layout layout-row layout-align-space-between-center"
         ng-swipe-left="$ctrl.onNextPage()" ng-swipe-right="$ctrl.onPrevPage()"
         ng-class="{'navigated': $ctrl.navigation, 'paginated': $ctrl.pagination, 'gt-xs': $ctrl.pipMedia('gt-xs')}"
         ng-style="{'max-width': $ctrl.maxWidth || 'initial'}">
        <md-button ng-if="$ctrl.pagination && $ctrl.pipMedia('gt-xs')" ng-click="$ctrl.onPrevPage()" class="md-icon-button lm8 flex-fixed iqs-guide-carousel-pagination iqs-guide-carousel-pagination-left" aria-label="BACK" ng-disabled="$ctrl.transaction.busy()">
            <md-icon md-svg-icon="webui-icons:chevron-big-left"></md-icon>
        </md-button>
        <div class="flex layout layout-column layout-align-space-between-center">
            <div class="iqs-guide-carousel-slide w-stretch p16">
                <div class="flex layout layout-column layout-align-center-center pip-text" ng-if="$ctrl.pipMedia('xs')">
                    <div class="flex layout layout-column layout-align-center-center iqs-guide-carousel-slide-image" ng-if="$ctrl.guide.pages[$ctrl.page].pic_uri">
                        <img ng-src="{{$ctrl.guide.pages[$ctrl.page].pic_uri}}" alt=""/>
                    </div>
                    <div class="iqs-guide-carousel-slide-title" ng-if="$ctrl.guide.pages[$ctrl.page].title[$ctrl.language]" ng-bind-html="$ctrl.guide.pages[$ctrl.page].title[$ctrl.language]"></div>
                    <div class="iqs-guide-carousel-slide-content" ng-if="$ctrl.guide.pages[$ctrl.page].content[$ctrl.language]" ng-bind-html="$ctrl.guide.pages[$ctrl.page].content[$ctrl.language]"></div>
                    <div class="iqs-guide-carousel-slide-href" ng-if="$ctrl.guide.pages[$ctrl.page].more_uri">
                        <a ng-href="$ctrl.guide.pages[$ctrl.page].more_uri">{{ 'GUIDE_CAROUSEL_DETAILS' | translate }}</a>
                    </div>
                </div>
                <div class="layout layout-row layout-align-space-between-start" ng-if="$ctrl.pipMedia('gt-xs')">
                    <div class="iqs-guide-carousel-slide-content-wrapper">
                        <div class="iqs-guide-carousel-slide-title" ng-if="$ctrl.guide.pages[$ctrl.page].title[$ctrl.language]" ng-bind-html="$ctrl.guide.pages[$ctrl.page].title[$ctrl.language]"></div>
                        <div class="iqs-guide-carousel-slide-content" ng-if="$ctrl.guide.pages[$ctrl.page].content[$ctrl.language]" ng-bind-html="$ctrl.guide.pages[$ctrl.page].content[$ctrl.language]"></div>
                        <div class="iqs-guide-carousel-slide-href" ng-if="$ctrl.guide.pages[$ctrl.page].more_uri">
                            <a ng-href="$ctrl.guide.pages[$ctrl.page].more_uri">{{ 'GUIDE_CAROUSEL_DETAILS' | translate }}</a>
                        </div>
                    </div>
                    <div class="flex layout layout-column layout-align-center-center iqs-guide-carousel-slide-image" ng-if="$ctrl.guide.pages[$ctrl.page].pic_uri">
                        <img ng-src="{{$ctrl.guide.pages[$ctrl.page].pic_uri}}" alt=""/>
                    </div>
                </div>
            </div>
            <div ng-if="$ctrl.navigation && $ctrl.pipMedia('gt-xs')" class="flex layout layout-row layout-align-center-center tp8 bp8 iqs-guide-carousel-navigation">
                <md-icon ng-repeat="radio in $ctrl.guide.pages" ng-click="$ctrl.onSetPage($index)" class="pip-radio-button " md-svg-icon="{{radio != $ctrl.guide.pages[$ctrl.page] ? 'icons:radio-off' : 'icons:circle'}}">
                </md-icon>
            </div>
        </div>
        <md-button ng-if="$ctrl.pagination && $ctrl.pipMedia('gt-xs')" ng-click="$ctrl.onNextPage()" class="md-icon-button lm8 flex-fixed iqs-guide-carousel-pagination iqs-guide-carousel-pagination-right" aria-label="NEXT" ng-disabled="$ctrl.transaction.busy()">
           <md-icon md-svg-icon="webui-icons:chevron-big-right"></md-icon>
        </md-button>
    </div>
</div>